@import '../../../styles/core/mixins';
@import '../../../styles/core/colors';

// .main-header {
//   width: 100%;
//   overflow: auto;
//   position: fixed;
//   top: 0;
//   z-index: 3;
// }

// .header {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;

//   background: transparent;
//   // background: blue;
//   padding: 1em 0;
// }

/* mainNav */

img.logo {
  width: 100%;
  height: 80px;
}
.logo {
  margin-left: 5%;
}

.nav {
  @include montserrat;

  font-size: calc(var(--text-small) * 1.15);
  text-transform: uppercase;
  text-decoration: none;
  flex: 5;
}

.nav.mainNav ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 1em;
  font-weight: 400;
  margin: 0 10px;
}

.nav.mainNav ul li a:hover {
  text-decoration: none;
  //   color: $primary-gray;
}

.mainNav ul {
  display: flex;
  flex: 3;
  justify-content: flex-end;
  padding-top: 1em;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-right: 5%;
}

.nav.mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: $primary-neutral-light;
  height: 1px;
}
.nav.mainNav ul li a:hover:after {
  width: 100%;
}
.nav ul li a,
.nav ul li a:after,
.nav ul li a:before {
  transition: all 0.5s;
}

@include breakpoint(small) {
  .header {
    background-color: rgba(11, 26, 47, 0.7);
  }

  .logo {
    margin-left: 5%;
    width: 35%;
  }
}

@media only screen and (max-width: 819px) {
  .mainNav {
    display: none;
  }
}
