@import '../../../styles/core/variables';
@import '../../../styles/core/mixins';

// Mobile Menu - iPad and smaller screens

@media only screen and (max-width: 768px) {
  .navigation {
    display: block;
    border: 1px solid red;
  }
  .overlay {
    background-color: #363533;
    z-index: 9999999999;
  }
  .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 9999999;
    background: $primary-neutral-dark;

    .closeMenu {
      z-index: 99;
      position: absolute;
      top: 5%;
      right: 5%;
      width: 30px;
      height: 30px;
      color: $white;

      svg {
        fill: #ffffff;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
  .overlay .closeMenu:hover svg {
    transform: rotate(90deg);
  }
  .navigation .inner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    overflow: scroll;

    > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 3;
      padding: 0;

      > li a {
        @include montserrat;

        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.5rem;
        color: $white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .mobileMenuBtn {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    text-align: center;
    background-color: transparent;
    color: $white;
    text-transform: uppercase;
    width: 35px;

    span {
      font-family: var(--font-primary);
      font-size: var(--text-normal);
      margin-top: 0.5rem;
    }
  }
  .mobileMenuBtn .bar {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 6px;
    background-color: $white;
  }
}

@media only screen and (min-width: 769px) {
  .mobileMenuBtn {
    display: none;
  }

  .navigation {
    display: none;
  }
}

/* May use this animation later for mobile menu */
/* https://daneden.github.io/animate.css/ */
@keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
